.toast {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    bottom: 0;
    left: 0;

    &__in {
        padding: 15px 30px;
        max-width: 190px;
        color: #ffffff;
        border-radius: 5px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
    }
}
