:root {
    --white-color: #ffffff;
    --t3: 0.3s ease;
    --greenc1: #bde5c1;
    --green5B: #66B574;
    --green72: #68bc72;
    --green74: #66B574;
    --green02: rgba(104, 188, 113, 0.2);
    --gray-base: #282828;
    --gray66: #666666;
    --graycc: #cccccc;
    --grayf1: #f1f1f1;
    --grayc5: rgba(197, 197, 197, 0.47);
    --grey-shadow: 0 0 10px 3px rgba(162, 161, 161, 0.3);
    --grey92: #929292;
    --grey151: rgba(155, 155, 155, 0.22);
}
