* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.428571429;
    color: var(--text-main);
    @mixin weight-regular;

    &.body--overflow {
        overflow: hidden;
    }
}

ul {
    list-style: none;
}

input {
    outline: none;
}

button {
    font-size: inherit;
    color: inherit;
    border: 0;
    outline: none;
    background-color: transparent;
}

select::-ms-expand {
    display: none;
}

.radio {
    display: none;

    &-label {
        padding-left: 30px;
        position: relative;

        &:after {
            content: '';
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            box-shadow: 0 0 0 1px var(--stroke-control);
            transition: var(--t3) box-shadow;
        }

        &:hover {
            &:after {
                box-shadow: 0 0 0 1px var(--product-primary);
            }
        }
    }

    &:checked {
        & + .radio-label:before {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: var(--product-primary);
        }
    }

    &:disabled {
        & + .radio-label {
            &:after {
                background-color: var(--bg-inset);
                cursor: default;
            }

            &:hover {
                &:after {
                    box-shadow: 0 0 0 1px var(--stroke-control);
                }
            }
        }
    }
}

.userscript-options-page {
    background-color: var(--bg-page);

    & .settings {
        justify-content: center;
    }
}
