@define-mixin weight-regular {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}

@define-mixin weight-medium {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
}

@define-mixin weight-bold {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

@define-mixin bnt-white {
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 0 1px var(--stroke-divider);
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    background-color: var(--bg-button-secondary);
    transition: var(--t3) background-color;
    @mixin weight-bold;

    &:hover {
        background-color: var(--bg-card-hover);
    }
}

@define-mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@define-mixin link-reset {
    color: var(--text-main);
    transition: var(--t3) color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: var(--product-primary);
    }
}

@define-mixin select-reset {
    border-radius: 0;
    appearance:none;
    outline: none;
    font-size: inherit;
    border: 0;
}

@define-mixin close-btn {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    @mixin icon-mask var(--icon-close);
}
