.pin {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    right: 8px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: var(--shadow-card);
    background-color: var(--bg-pin);
    background-repeat: no-repeat;
    background-position: 50%;
    transition: var(--t3) background-color;
    padding: 0;

    &:hover {
        background-color: var(--bg-pin-hover);
    }

    &--show {
        display: block;
    }

    &--win-hidden {
        background-size: 16px 16px;
        background-image: var(--icon-window);
    }
}
