.footer {
    border-top: 1px solid rgba(197, 197, 197, .47);

    &__in {
        margin: 0 auto;
        width: 540px;
        padding: 30px 40px;
        background-color: var(--white-color);
    }

    &__link {
        text-decoration: none;
        max-width: 80px;
        cursor: pointer;
        color: var(--green5B);

        &:last-child {
            margin-left: 25px;
        }
    }
}
