@import "blocks/palette.pcss";
@import "blocks/theme.pcss";
@import "blocks/icons.pcss";
@import "blocks/icons-options.pcss";
@import "blocks/vars.pcss";
@import "blocks/mixins.pcss";
@import "blocks/global.pcss";
@import "blocks/fonts.pcss";
@import "blocks/settings.pcss";
@import "blocks/tooltip.pcss";
@import "blocks/theme-switch.pcss";
